div {
  margin: 0 0 0 0;
  text-align: center;
  margin-top: 2%;
  font-size: 500%;
}

p {
  text-align: center;
  font-size: 120%;
}
h1 {
  margin: 0 0 0 0;
  text-align: center;
  margin-top: 2%;
  font-size: 600%;
}

.txt {
  margin:auto; 
  text-align:center; display:block;
  font-size: 130%;
}
